@font-face {
  font-family: "Walkway Bold";
  src: url('../font/WalkwayBold.ttf');
}
@font-face {
  font-family: "Avenir";
  src: url('../font/Avenir.ttc');
}
@font-face {
  font-family: "Open Sans";
  src: url('../font/OpenSans-Regular.ttf');
}

.header1 {
  -fx-font-family: "Walkway Bold";
  -fx-fill: rgb(36, 136, 224);
  -fx-font-size: 85;
}

.title {
  -fx-font-family: "Walkway Bold";
  -fx-fill: rgb(36, 136, 224);
  -fx-font-size: 40;
}

.subtitle {
  -fx-font-family: "Open Sans";
  -fx-fill: rgb(36, 170, 224);
  -fx-font-size: 28;
}

.field-title {
  -fx-font-family: "Open Sans";
  -fx-fill: rgb(36, 200, 224);
  -fx-font-size: 15;
}

.body {
  -fx-font-family: "Open Sans";
  -fx-fill: #1e1e1e;
  -fx-font-size: 16;
}
